﻿@model Blogt2_5_Account.Models.Tag

@{
    ViewBag.Title = "Search";
    
}
<h2>Search post(x) by tag(x)</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tag</legend>

        <div class="editor-field">
            @Html.EditorFor(model => new Blogt2_5_Account.Models.Tag().Content)
            @Html.ValidationMessageFor(model => new Blogt2_5_Account.Models.Tag().Content)
        </div>

        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}