﻿@model Blogt2_5_Account.Models.Tag

@{
    ViewBag.Title = "Searched";
}

<h2>Searched</h2>

<fieldset>
    <legend>Post</legend>
    <p>Post Title: </p>
    @foreach (var post in Model.Posts)
    {
        @Html.ActionLink("" + post.Title, "Details/" +post.ID)<br />
    }
</fieldset>
<p>
    @Html.ActionLink("Back to Search", "Search")
</p>