﻿@model MyWeb_1.Models.Question

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Question</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LevelID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LevelID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LessonID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LessonID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ques_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ques_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ques_Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ques_Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ques_Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ques_Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
