﻿@model MyWeb_1.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Question</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LevelID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LevelID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LessonID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LessonID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ques_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ques_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ques_Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ques_Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ques_Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ques_Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
