﻿@model MyWeb_1.Models.Question

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Question</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountID)
            @Html.ValidationMessageFor(model => model.AccountID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LevelID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LevelID)
            @Html.ValidationMessageFor(model => model.LevelID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LessonID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LessonID)
            @Html.ValidationMessageFor(model => model.LessonID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ques_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ques_Name)
            @Html.ValidationMessageFor(model => model.Ques_Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ques_Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ques_Title)
            @Html.ValidationMessageFor(model => model.Ques_Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ques_Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ques_Body)
            @Html.ValidationMessageFor(model => model.Ques_Body)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreated)
            @Html.ValidationMessageFor(model => model.DateCreated)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
