﻿@model IEnumerable<MyWeb_1.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LevelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ques_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ques_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ques_Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LevelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ques_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ques_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ques_Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
