﻿@model MyWeb_1.Models.Level

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Level</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Le_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Le_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Discription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
