﻿@model MyWeb_1.Models.Comment
<div class="display-field">
    <h3>Tao cah day: @Html.DisplayFor(model => model.LastTime)</h3>
</div>

<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>

