﻿body {
}
.Main{
    width: 1000px;
    height:1000px;
    border: 1px solid #f1f1f1;
    margin :0 auto
}
.Main2{
    width: 1000px;
    height:1000px;
    border: 1px solid #f1f1f1;
    margin :0 auto
}
.Main3{
    width: 1000px;
    height:100px;
    border: 1px solid #f1f1f1;
    margin: 0 auto
}