﻿@model Blogt2_3.Models.Comment


@using (Html.BeginForm("Create", "Comments", new { idpost= ViewData["post"]}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Comment</legend>

        
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

       
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}