﻿<!DOCTYPE html>
<html lang="en">

    <head>
        <
        <style>
            #header{
                background-color:blue;
                color: white;
                text-align:center;
                padding:30px;
            }
            #nav{
                line-height:30px;
                background-color:#eeeeee;
                height:300px;
                width:50px;
                float:left;
                padding:5px;

            }
            #section{
                width:950px;
                float:left;
                padding:5px;
            }
            #footer{
                background-color:lightgrey;
                color:black;
                clear:both;
                text-align:center;
                padding:5px;
            }
            body{background-color:lightgrey}
            
            p{color:black}
        </style>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        
           
        </head>

    <body>
        <header>
            <div class="content-wrapper">

                <div class="float-left">
                   

                    <img src="~/Images/we13.jpg" width="300" />
                 
                    @*<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>*@
                    
                </div>
                <div class="float-right">
                    <section id="login">
                        
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                         
                            <li>@Html.ActionLink("Diễn Đàn", "Index", "Posts")</li>
                            <li>@Html.ActionLink("Khóa học", "About", "Home")</li>
                            <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                            @*<li>@Html.ActionLink("Khóa học", "Khóa học", "Home")</li>
                            <li>@Html.ActionLink("Liên hệ", "Liên hệ", "Home")</li>*@
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

      
        @RenderSection("scripts", required: false)
    </body>
</html>
