﻿@model MyWeb_1.Models.Lesson

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Lesson</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Les_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Les_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Les_Discription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Les_Discription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LevelID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LevelID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
