﻿@model Blog5_t2.Models.Tag

@{
    ViewBag.Title = "Search";
}

<h2>Search post(s) by tag(s)</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Tag </legend>
        <div class="editor-field">
            @Html.EditorFor(model =>new Blog5_t2.Models.Tag().Content)
            @Html.ValidationMessageFor(model=>new Blog5_t2.Models.Tag().Content)
        </div>
        <p>
            <input type="submit" value="Search" />
        </p>
        </fieldset>
}
