﻿@model Blog5_t2.Models.Tag

@{
    ViewBag.Title = "Searched";
}

<h2>Searched</h2>
<fieldset>
    <legend>Post</legend>
    <p>Post Title: </p>
    @foreach (var post in Model.Posts)
    {
        @Html.ActionLink("" + post.Titl, "Details/" +post.ID, "Posts")<br />
    }
</fieldset>
<p>
    @Html.ActionLink("Back to Search", "Search")
</p>