﻿@{
    ViewBag.Title = "";
    <div id="header">
        <h1> Thông tin về khóa học</h1>

    </div>
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


    <h1>Mỗi khóa học sẽ kèo dài 3 tháng</h1>
    <h2>1. Chương trình học phù hợp với các bạn sinh viên kỹ thuật</h2>
    <p>
        Các bạn sinh viên kỹ thuật có nhu cầu học từ vựng anh văn giao tiếp
        và anh văn chuyên ngành nhưng không có nhiều thời gian hay do điều kiện 
        khách quan khác mà không thể đến các trung tâm để học. Khóa học này sẽ 
        cung cấp cho bạn từ vựng thông dụng trong đời sống cũng như trong 
        chuyên ngành của các bạn.
    </p>
    <h2>2. Thời gian khóa học và học phí</h2>

    <p>
        Thời gian: 100% khóa học được tổ chức trực tuyến, bạn có thể tham gia bất
        cứ lúc nào sau khi thanh toán hoàn toàn học phí. Tất cả nội dung khóa học 
        được mở 24/24 cho thành viên
        Học phí 300000/ khóa/ năm
        Bạn có thể tham gia học ngay sau khi đăng ký. Đăng ký học ngay bằng các lick
        vào đăng ký.
    </p>
    <h2>3. Phương pháp học</h2>
    <p>
        Học trực tuyến với máy tính được kết nối internet
        Dành ít nhất 30 phút mỗi ngày để học
        Đây là chương trình học trực tuyến nên bạn không cần phải chờ khai giảng chỉ
        cần đăng ký,thanh toán học phí và học thôi
    </p>
    <h2>4. Nội dung học</h2>
    <p>
        
        
        Trước khi học từ mới bạn sẽ tiến hành ôn những từ đã học trước
        Mỗi ngày bạn sẽ được học 2 từ mới, trong đó một từ là từ thông 
        dụng, còn một là trong chuyên ngành của bạn
        Sau khi học xong bạn sẽ ôn lại không chỉ có từ mới mà là tổng
        hợp từ bạn đã học được.
    </p>
@*</article>

<aside>
    <h1>Aside Title</h1>
    <p>
        
    </p>
    <ul>
        <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
        <li>@Html.ActionLink("Khóa học", "About", "Home")</li>
        <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
    </ul>
</aside>*@