﻿
@{
    
    //ViewBag.Title = "Welcome to English4UF";
    
}
@section featured {
    @*<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>*@
}
@*<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>*@
<!DOCTYPE html>
<html>



<body>
    <div id="header">
        
        <h1> Tiếng anh cho sinh viên kỹ thuật</h1>

    </div>
    
        

    
    <div id="section">
        <h2>Chương trình học</h2>
        <p>

            <img src="~/Images/we14.jpg" alt="we14"
                 style="float:left;width:50px;height:50px" />

            Trong chương trình học này, chúng tôi sẽ giúp bạn tăng vốn từ của
            mình lên một các hiệu quả.Thông qua các khóa học của chúng tôi bạn
            sẽ được trang bị những bộ từ vựng thông dụng trông cuộc sống hằng
            ngày. Ngoài ra, chúng tôi còn trang bị cho bạn những từ vựng tiếng
            anh trong
            chuyên ngành của bạn. Điều nãy sẽ hỗ trợ bạn học tập tốt hơn.
        </p>
        <h2>Nội dung học</h2>
        <p>
            <img src="~/Images/we12.gif" alt="we12"
                 style="float:left;width:50px;height:50px  " />
    

            Website của chúng tôi là nhằm mục đích làm gia tăng vốn tư vựng cho
            các bạn. Vì vậy trong mỗi khóa học chúng tôi sẽ cung cấp cho bạn những
            bộ từ vựng khác nhau để bạn học tập.
        </p>
    <h2>Phương pháp học</h2>
    <p>
        <img src="~/Images/we16.jpg" alt="we16"
             style="float:left;width:50px;height:50px"/>

            Các bạn sẽ được học từ vựng qua tranh ảnh vì như vậy sẽ nhớ bài lâu hơn
            và chỉ học khoảng 3 từ mới mỗi ngày. Trước khi các bạn học từ mới sẽ có
            bài kiểm tra cho bài cũ và sau mỗi lần học sẽ bài kiểm tra lại.
    </p>
    <h2>Các ngành kỹ thuật</h2>
    <p>
        <img src="~/Images/we15.jpg" alt="we15"
             style="float:left;width:50px;height:50px;"/>

            Công nghệ thông tin  <br>
            Kỹ thuật điện- điện tử<br>
            Cơ khí chế tạo máy<br>
          
            .....
    </p>

    </div>
    <div id="footer">
        Copyright English4UF.net
    </div>
</body>
</html>
