﻿@model Blog5_t2.Models.Comment

<div class="display-field">
    <h2>Tao cah day: @Html.DisplayFor(model => model.LastTime)</h2>
</div>

<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>
