﻿@model Blog5_t2.Models.Comment

@using (Html.BeginForm("Create", "Comments",FormMethod.Post, new { id = "my-form" })) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <h4>Add Comment</h4>
        <legend>Add Comment</legend>

       
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        

        
        @Html.Hidden("idpost",ViewData["idpost"])

      

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<script src="~/Scripts/addComments.js"></script>